// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

//WEB
//MOBILE

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
}


//REGOLE GENERALI
ul {
    list-style: none;
}
a {
    text-decoration: none !important;
}
// .debug {
//     border: 1px solid red;
// }
// .debug2 {
//     border: 3px solid blue;
// }
//SEZIONI
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    #route-menu {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $black;
        z-index: 999;
        border-bottom-left-radius: 100%;

        a{
            color: $white;  
        }

        #close-button {
            text-align: right;
            font-weight: 900;
            cursor: pointer;
            color: $primary-color;
        }
    }

    .visible {
        width: 50vw;
        height: 50vw;
        padding: 20px;
        transition: all 200ms ease-in-out;
    }
    .not-visible {
        width: 0px;
        height: 0px;
        transition: all 200ms ease-in-out;
    }

    #navbar-logo img{
        height: 30px;
    }
    #navbar-menu-icon {
        cursor: pointer;

        @include media-breakpoint-up(xs) {
            width: 30px;
            height: 30px;
        }
        @include media-breakpoint-up(sm) {
            width: 40px;
            height: 40px;
        }
    }
    .black-button-navbar{
        @extend %button-black;
        padding: 5px 15px;
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
    .row {
        height: 10vh;
    }
    ul {
        margin: 0;
        width: 80%;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            h5 {
                margin: 0;
            }

            a {
                color: $black;
            }
        }
    }
}
section {
    margin-top: 10vh !important;
}
footer {
  background-color: black;
  color: white;
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  
  div.social{
    width:30%;
    img{
      width:30px;
      margin-right:30px;
    }
  }
  ul{
      padding: 0;
    li{
    line-height:3rem;
  }
  }
  
}
#login {
    .login-img {
        height: 200px;
        width: 100%;
        background-image: url("../../public/img/homepage/rider.jpg");
        background-position: center;
        background-size: cover;
    }

    .login-box {
        height: 60vh;
        height: 60vh;
        padding: 15vh 5vw;
        background-color: white;
        color: black;
        .custom-input {
            width: 80%;
            margin: 10px 0;
        }
    }
    .register-box {
        height: 60vh;
        padding: 15vh 5vw;
        background-color: #000;
        color: $white;
        h1{
            &:last-child{
                padding-bottom:50px;
            }

        }
    }
}
#new-dish,
#edit-dish {
    button {
        @extend %button-colored;
        width: 100%;
        padding: 5px 0;
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
}
#show-dish {
    #dish-show-img {
        height: 300px;
        width: 300px;
        margin: 30px 0;
        border-radius: 100%;
        border: 6px solid black;
    }
    #icon-dish-show {
        height: 30px;
        width: auto;
        margin-right: 10px;
    }
}
#success {
    height: 50vh;
    margin: auto;
}

//HEADER-HOME BACKGROUND
#bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../public/img/homepage/background_header2.jpeg");
}

@media screen and (max-width:800px){
    #bg{
        background-position-x: -10px;
        
    }
}

//CLASSI PREDEFINITE
%button-colored {
    background-color: $primary-color;
    border-radius: 20px;
    color: #000;
    border-style: none;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    &:active {
            outline: none;
        }
    &:focus {
        outline: none;
        }
}
%button-black {
    @extend %button-colored;
    background-color: #000;
    color: #fff;
    &:active {
        outline: none;
        }
    &:focus {
        outline: none;
        }
}
%oval-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    .notselected {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0 15px 0 0;
        border: 1px solid #bbbbbb;
        width: 70px;
        height: 120px;
        border-radius: 60px;
        transition: all 200ms ease-in-out;
        &:hover {
            background-color: #b3f5fd;
            border: 0;
        }

        .icon {
            height: 30px;
            margin: 5px 0;
            pointer-events: none;
        }
        span {
            font-size: 12px;
            font-weight: 800;
            margin: 5px 0;
        }
    }
    .selected {
        background-color: #b3f5fd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0 15px 0 0;
        width: 70px;
        height: 120px;
        border-radius: 60px;
        transition: all 200ms ease-in-out;
        &:hover {
            background-color: #b3f5fd;
            border: 0;
        }

        .icon {
            height: 30px;
            margin: 5px 0;
            pointer-events: none;
        }
        span {
            font-size: 12px;
            font-weight: 600;
            margin: 5px 0;
        }
    }
}
%oval-white-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    .notselected {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0 15px 0 0;
        border: 1px solid $white;
        width: 35px;
        height: 50px;
        border-radius: 60px;

        span {
            color: $white;
            font-size: 15px;
            font-weight: 600;
            margin: 5px 0;
        }
    }
}

.buttonCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 60px;
    margin: 0 15px 5px 0;
     &:hover{
        background-color: #b3f5fd;
        border: 0;
    }
    button{
      background-color: transparent;
      border:none;
      padding:15px ;
      display: flex;
      flex-direction: column;
      width: 70px;
      height: 120px;
      justify-content: center;
      align-items: center;
      &:checked{
        background-color: #b3f5fd;
        border: 0;    
      }
      img{
        height: 30px;
        margin: 5px 0;
        pointer-events: none;
      }
      span{
        font-size: 10px;
        font-weight: 800;
        margin: 5px 0;
      }


    }
}

.buttonCategorySelected{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3f5fd;
    border: 0;
    border-radius: 60px;
    margin: 0 15px 5px 0;
    button{
        background-color: transparent;
        border:none;
        padding:15px ;
        display: flex;
        flex-direction: column;
        width: 70px;
        height: 120px;
        justify-content: center;
        align-items: center;
       
        img{
          height: 30px;
          margin: 5px 0;
          pointer-events: none;
        }
        span{
          font-size: 10px;
          font-weight: 800;
          margin: 5px 0;
        }
  
  
      }
}

.oval-button {
    @extend %oval-button;
}
.oval-white-button {
    @extend %oval-white-button;
}

.primary-button {
    @extend %button-colored;
    padding: 10px 45px;

}
.black-button {
    @extend %button-black;
    padding: 10px 45px;
   

}

.primary-text {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.pl-10 {
    padding-left: 10px;
}

.m-50 {
    margin: 50px;
}
.p-50 {
    padding: 50px;
}
.mt-50 {
    margin-top: 50px;
}

.mt-120{
    margin-top: 120px;
}

.mb-30{
    margin-bottom: 30px;
}
.mb-15{
    margin-bottom: 15px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-30 {
    margin-left: 30px;
}


.inputForm{

    form{
        margin: 30px 30px;
        label {
            margin: 15px 0;
            font-size: 18px;
            font-weight: 400;
        }
        .row {
            input {
                border: 1px solid black;
                border-radius: 30px;
                padding: 5px 25px;
                font-size: 15px;
            }
        }
    }
}

.resturantImage {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}
.listImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}
.cartImage {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}
.custom-input {
    width: 100%;
    padding: 15px 25px;
    margin: 5px 0px;
    border-radius: 20px;
    border: 1px solid black;
    transition: box-shadow 200ms;
    &:focus {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

//CHECKBOX AND RADIO CUSTOMIZATION
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}
.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: auto;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: $black;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.checkbox-tools:not(:checked) + label {
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label {
    background-color: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: $primary-color;
    z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil {
    font-size: 24px;
    line-height: 24px;
    display: block;
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px){
    #media-logout {
        padding: 4px 8px !important;
        margin-left: 40px !important;
    }
    #home-margin{
        margin-left: -50%;
    }

   
}